<main>
    <form action="#" class="row">
        <div class="col-xs-10">
            <input type="text" name="" id="" class="col-xs-12">
        </div>
        <div class="pull-left">
            <input type="button" value="+" class="col-xs-12">
        </div>

    </form>
    <ul class=" todo-list-wrapper">
        <li ng-repeat="item in ['todo1', 'todo2', 'todo3', 'todo3'] track by $index" class="col-xs-12">
            <input type="checkbox" name="" id="" class="pull-left">
            <div class="item pull-left">{{item}}</div>
        </li>
    </ul>

</main>